# Copy this file to .env and fill in your values
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

JWT_SECRET=

KAFKA_BOOTSTRAP_SERVERS=

REDIS_HOST=
REDIS_PORT=

OLLAMA_BASE_URL=
CHROMA_BASE_URL=

MAIL_USERNAME=
MAIL_PASSWORD=